html
    head 
        title Page 1
    body(style="background-color:black;color:white;")
        form(action="/", method="POST")
            input(type="text")
            input(type="submit",value="SEND")